html {
    background-color: lightslategray;
}

h1 {
    text-shadow: 2px 2px gray;
    text-align: center;
}

#mainContainer {
    /* border-style: dashed; */
    /* border-color: blue; */
    display: flex;
    justify-content: center;
}

#gridContainer {
    border-style: solid;
    border-color: red;
}

.squareDiv {
    /* border-style: solid; */
    /* border-color: green; */
    margin: 0;
    padding: 0;
    width: 1.5vw;
}

.rowDiv {
    /* border-style: double; */
    /* border-color: red; */
    display: flex;
    justify-content: center;
    height: 1.5vw;
    width: auto;
}

.etched {
    background-color: darkslategray;
}

button#resetButton {
    max-width: 100%;
    min-width: 20%;
    background-color: lightslategray;
    border-color: darkslategray;
    border-style: solid;
    font-weight: 900;
    margin: auto;
    display: block;
}